
@font-face {
    font-family: 'MyFont';
    src: url(../assets/font/OpenSans-BoldItalic.ttf);
}


.hello{
    width: 200px;
    height: 200px;
    background-color: pink;
    color:#fff;
    font-family: 'MyFont';
    background-image: url(../assets/image/image.jpg);
}